{% extends "blog_template.html" %}
{% block headtag %}
	{% for tag in tag_list %}
	<a href="{% url 'blogs:tagpost' tag.id  %}" class="w3-bar-item w3-button">{{tag.tag_name}}</a>
	{% endfor %}
{% endblock %}

{% block main %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if blog %}
  <form action="{% url 'blogs:save' blog.id tag_id %}" method="post">
{%else%}
  <form action="{% url 'blogs:save' 0 tag_id %}" method="post">
{% endif %}
{% csrf_token %}
  <textarea fontsize="10pt" rows="1" cols="30" name="title" value="{{blog.title}}" id="{{blog.id}}">{{blog.title}}</textarea>
    <textarea fontsize="20pt" rows="50" cols="100" name="body" value="{{blog.body}}" id="{{blog.id}}">{{blog.body}}</textarea>
<input type="submit" value="Save" />

</form>
{% endblock %}
